* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body{
  padding: 50px;
  background: linear-gradient(to bottom, #87CEEB, #663399);
  height: 100vh;
  
}
.container-inicio{
  padding: 50px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.inicio{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.botao{
  background-color: #ffa500;
  width: 330px;
  height: 40px;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
  border-radius: 5px;
}

.botao:hover {
    background-color: #ff7f00;
}
.inicio a{
  text-decoration: none;
  color: white;
}

.titulo{
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
  color: #333333;
}
.titulo-musica{
  font-size: 15px;
  color: #333333;
}
.titulo-video{
  font-size: 15px;
  color: #333333;
}
video{
  width: 100%;
}
form{
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
}

.campo-url{
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 40px;
  border: 0;
  padding-left: 10px;
}

.botao-baixar{
 position: absolute;
 left: 50%;
 transform: translateX(-50%);
 width: 90%;
 height: 40px;
 background-color: #ffa500;
 color: white;
 border: 0;
 border-radius: 5px;
}
.botao-baixar:hover{
  background-color: #ff7f00;
}
.sucess {
  text-align: center;
  position: relative;
  top: 100px;
  color: green;
}

.error {
  text-align: center;
  position: relative;
  top: 100px;
  color: red;
}
.paragrafo-aviso{
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
}

.musicas{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 460px){
  body{
    padding: 20px;
  }
  .container-inicio{
    padding: 20px;
  }
  form{
    padding: 20px;
  }
@media screen and (max-width: 360px){
  .container-inicio{
    padding: 20px;
  }
  form{
   padding: 20px;
  
}
