{% extends "base.html" %}

{% block conteudo %}

<div class="container-baixar-video">
<form action="/baixar_video" method="get">
    <h1 class="titulo">Download de Vídeo</h1>
    <input class="campo-url" type="text" placeholder="URL do vídeo que deseja baixar" name="url" required>
    <br><br><br>
    <input class="botao-baixar" type="submit" name="download_iniciado" value="Fazer download">
    <br><br>
    <p>{{ aviso_download }}</p>
    {% with mensagens = get_flashed_messages() %}
    {% for mensagem in mensagens %}
        {% if download_sucesso %}
            <p class="sucesso">{{ mensagem }}</p>
        {% else %}
            <p class="error">{{ mensagem }}</p>
        {% endif %}
    {% endfor %}
    {% endwith %}
    {% for video in meus_videos %}
        <ul>
            {% if video %}
                <li>{{ video }}</li>
            {% endif %}
        </ul>
    {% endfor %}
</form>
</div>
{% endblock %}
