{% extends "base.html" %}

{% block conteudo %}

<form action="/baixar_video" method="get">
    <h1 class="titulo">Download de Vídeo</h1>
    <input class="campo-url" type="text" placeholder="Nome da pasta onde deseja salvar o download" name="pasta">
    <br><br><br>
    <input class="campo-url" type="text" placeholder="URL do vídeo que deseja baixar" name="url">
    <br><br><br>
    <input class="botao-baixar" type="submit" value="Fazer download">
    {% with mensagens = get_flashed_messages() %}
    {% for mensagem in mensagens %}
        {% if download_sucesso %}
            <p class="sucess">{{ mensagem }}</p>
        {% else %}
            <p class="error">{{ mensagem }}</p>
        {% endif %}
    {% endfor %}
    {% endwith %}
    {% for video in meus_videos %}
        <ul>
            {% if video %}
                <li>{{ video }}</li>
            {% endif %}
        </ul>
    {% endfor %}
</form>

{% endblock %}
