{% extends 'base.html' %}

{% block conteudo %}

<div class="container-baixar-musica">
  <form action="/baixar_musica" method="get">
    <h2 class="titulo">Converter para Música</h2>
    <input class="campo-url" type="text" placeholder="URL da música que deseja baixar" name="url" required>
    <br><br><br>
    <input class="botao-baixar" type="submit" value="Fazer download">
    <p>HELLO WORLD</p>
    {% with mensagens = get_flashed_messages() %}
      {% for mensagem in mensagens %}
        {% if download_sucesso %}
	<p class="sucesso">{{ mensagem }}</p>
        {% else %}
          <p class="error">{{ mensagem }}</p>
        {% endif %}
      {% endfor %}
    {% endwith %}
  </form>
</div>

{% endblock %}
