{% extends 'base.html' %}

{% block conteudo %}
<div class="container-inicio">
<h2 class="titulo">Bem-vindo ao Software de Download de Vídeos e Músicas!</h2><br>
<p class="paragrafo-aviso">Baixe vídeos para assistir offline ou extraia apenas a música para ouvir em qualquer lugar. Aproveite!</p>
<div class="inicio">
<div class="botao">
<a href="/baixar_video">Baixar video</a><br>
</div>

<div class="botao">
<a href="/baixar_musica">Baixar musica</a></br>
</div>

<div class="botao">
<a href="/ver_videos">Meus videos</a><br>
</div>

<div class="botao">
<a href="/ver_musicas">Minhas musicas</a></br>
</div>

</div>
</div>
{% endblock %}
