{% extends 'base.html' %}

{% block conteudo %}

<div class="ver-musica">
   <h1 class="titulo">Minhas Musicas</h1>
        {% if musicas %}
        {% for musica in musicas %}
            <div class="musicas">
                <h2 class="titulo-musica">{{ musica }}</h2>
                <audio controls>
                    <source src="{{ url_for('reproduzir_musica', musica_nome=musica) }}" type="audio/mp3">
                    Seu navegador não suporta o elemento de áudio.
                </audio>
            </div>
        {% endfor %}
	{% else %}
	<p class="aviso-sem-musica">Não há Musicas baixadas.</p>
	{% endif %}
</div>
{% endblock %}
